<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julius.law.lawcase.mapper.LawassistMapper">

    <insert id="insertBatch">
        insert into LawAssist(name,mobile,other,lawCaseId)
        values
        <foreach collection="lawassists" item="lawassist" index="index"
                 separator=",">
            (#{lawassist.name},#{lawassist.mobile},#{lawassist.other}, #{id})
        </foreach>
    </insert>
</mapper>
