<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julius.law.lawcase.mapper.LawhearMapper">

    <insert id="insertBatch">
        insert into LawHear(name,mobile,other,lawCaseId)
        values
        <foreach collection="lawHears" item="lawHear" index="index"
                 separator=",">
            (#{lawHear.name},#{lawHear.mobile},#{lawHear.other}, #{id})
        </foreach>
    </insert>
</mapper>
