<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julius.law.lawcase.mapper.LawpartiesMapper">

    <insert id="insertBatch">
        insert into LawParties(name,mobile,other,lawCaseId)
        values
        <foreach collection="lawparties" item="lawparty" index="index"
                 separator=",">
            (#{lawparty.name},#{lawparty.mobile},#{lawparty.other}, #{id})
        </foreach>
    </insert>
</mapper>
