<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.julius.law.project.mapper.ProjectconcatMapper">

    <insert id="insertBatch">
        insert into projectConcat(concatName,organization,position,mobile,email,address,projectId)
        values
        <foreach collection="projectConcats" item="projectConcat" index="index"
                 separator=",">
            (#{projectConcat.concatName},#{projectConcat.organization},
            #{projectConcat.position},#{projectConcat.mobile},
            #{projectConcat.email},#{projectConcat.address},#{projectId})
        </foreach>
    </insert>
</mapper>
